.App {
  text-align: center;
}

.header{
  font-weight: 600;
  font-size: xx-large;
  border: 2px solid;
  background-color: rgb(145, 128, 184);
  color: white;
  text-align: center;
}
.formHeader{
  margin-left: 12px;
  padding-block: 10px;
}
.add-contact{
  font-size: large;
  font-weight: 400;
  font-family: fantasy;
  margin-left: 12px;
}
input{
  margin-bottom: 5px;
}
.contacts{
display: flex;
  justify-content: space-between;
  border: 2px solid;
  padding: 5px;
  background: rgb(239, 232, 247);
  margin-bottom: 2px;
  margin-left: 12px;
  margin-right: 5px;
}
.email{
font-size: medium;
}
.btn{
  border-color:rgb(51, 51, 104) ;
  background-color:rgb(31, 31, 73) ;
  color: white;
  border-radius: 5px;
  font-size: large;
  font-weight: 400;
 
}
.contactsHeader{
  font-size: medium;
  font-family:system-ui ;
  font-weight: 500;
  margin-left: 12px;
  margin-top: 20px;
}
.user{
  display: flex;
}
.icon{
  padding: 10px;
}
